.restaurant-block {
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; */
  position: relative;
}

.restaurant-name-and-category {
  position: absolute;
  bottom: 8px;
  left: 16px;
}