/* ---------------------------- MOBILE ---------------------------- */
.component-wrapper {
  overflow: hidden;
  width: 100vw;
}

.main, .main-hidden {
  position: absolute;
  left: 0;
  width: 100vw;
  padding-top: 60px;
  transition: left 0.5s, width 0.5s;
}

.main-hidden {
  left: 100vw;
  width: 0vw
}

/* header */
.header-container {
  position: fixed;
  z-index: 1;
  width: 100vw;
}

.header {
  height: 60px;
  background-color: #43E895;
}

.app-name-icon-container {
  display: flex;
  width: 64%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 110px;
}

.arrow-name-map-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}

.arrows {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  padding-top: 25px;
}

.back-arrow {
  width: 10px;
  height: 20px;
  background-image: url("cuts/ic_webBack@2x.png");
  background-size: 10px;
  background-repeat: no-repeat;
  margin-top: 15px;
}

.app-name {
  font-family: "Avenir Next";
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
}

.map-icon {
  width: 30px;
  height: 30px;
  background-image: url("cuts/icon_map@2x.png");
  background-size: 30px;
  background-repeat: no-repeat;
}

/* restaurant blocks home page */
.restaurant-block {
  position: relative;
  height: fit-content;
  width: 100%;
  margin-bottom: -3px
}

.restaurant-image {
  width: 100%;
}

.gradient {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("cuts/cellGradientBackground@2x.png");
}

.restaurant-name-and-category {
  position: absolute;
  bottom: 6px;
  left: 12px;
}

.restaurant-name, .restaurant-category {
  font-family: "Avenir Next";
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

.restaurant-category {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
}

/* detail page */
.detail-wrapper-hidden, .detail-wrapper-visible {
  position: absolute;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  padding-top: 60px;
  transition: left 0.5s;
}

.detail-wrapper-visible {
  left: 0;
}

.map {
  height: 180px;
}

.map-marker {
  width: 30px;
  height: 30px;
  background-image: url("cuts/icons8-marker-48.png");
  background-size: 30px;
  background-repeat: no-repeat;
}

.restaurant-name-header {
  height: 50px;
  background-color: #34B379;
  padding-top: 10px;
}

.detail-restaurant-name, .detail-restaurant-category {
  font-family: "Avenir Next";
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  margin-left: 12px;
}

.detail-restaurant-category {
  font-size: 12px;
  font-weight: normal;
}

.restaurant-info {
  font-family: "Avenir Next";
  font-size: 16px;
  color: #2A2A2A;
  margin-top: 16px;
  margin-left: 12px;
}

.number, .twitter {
  margin-top: 26px;
}

/* footer */
.footer-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0px;
}

.footer {
  height: 50px;
  background-color: #2A2A2A;
}

.icons-and-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 7px;
}

.lunch-icon, .internets-icon, .lunch-icon-2, .internets-icon-2 {
  width: 25px;
  height: 27px;
  background-image: url("cuts/tab_lunch@2x.png");
  background-size: 25px;
  background-repeat: no-repeat;
  margin: auto;
}

.internets-icon, .internets-icon-2 {
  width: 20px;
  height: 25px;
  background-image: url("cuts/tab_internets@2x.png");
  background-size: 20px;
}

.lunch-icon-2, .internets-icon-2 {
  opacity: 0.5;
}

.lunch-text, .internets-text {
  font-family: "Avenir Next";
  font-size: 10px;
  color: #FFFFFF;
  text-align: center;
}

/* ---------------------------- TABLET ---------------------------- */
@media only screen and (min-width: 768px) {
  .column-wrapper {
    display: flex;
  }

  .main {
    position: static;
    width: 50vw;
  }

  .header {
    height: 80px;
  }

  .back-arrow {
    width: 20px;
    height: 30px;
    background-size: 16px;
    margin-top: 17px;
  }

  .app-name {
    font-size: 21px;
  }

  .map-icon {
    width: 40px;
    height: 40px;
    background-size: 35px;
  }

  .app-name-icon-container {
    width: 57%;
    margin-left: 310px;
    margin-top: 23px;
  }

  .map {
    height: 380px;
  }

  .restaurant-name-header {
    height: 66px;
    padding-top: 20px;
  }

  .detail-restaurant-name {
    font-size: 18px;
    margin-left: 20px;
  }

  .detail-restaurant-category {
    font-size: 16px;
    margin-left: 20px;
  }

  .restaurant-info {
    font-size: 20px;
    margin-left: 20px;
  }
}