/* ---------------------------- MOBILE ---------------------------- */
.main {
  padding-top: 60px;
  padding-bottom: 50px;
}

/* header */
.header-container {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header {
  height: 60px;
  background-color: #43E895;
}

.app-name-icon-container {
  display: flex;
  width: 58%;
  justify-content: space-between;
  align-items: center;
  float: right;
  margin-top: 20px;
  margin-right: 15px;
}

.arrow-name-map-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 15px;
}

.arrows {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  padding-top: 25px;
}

.back-arrow, .forward-arrow {
  width: 10px;
  height: 20px;
  background-image: url("cuts/ic_webBack@2x.png");
  background-size: 10px;
  background-repeat: no-repeat;
}

.forward-arrow {
  background-image: url("cuts/ic_webForward@2x.png");
}

.refresh-arrow {
  width: 25px;
  height: 25px;
  background-image: url("cuts/ic_webRefresh@2x.png");
  background-size: 25px;
  background-repeat: no-repeat;
}

.app-name {
  font-family: "Avenir Next";
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
}

.map-icon {
  width: 30px;
  height: 30px;
  background-image: url("cuts/icon_map@2x.png");
  background-size: 30px;
  background-repeat: no-repeat;
}

/* restaurant blocks home page */
.restaurant-block {
  position: relative;
  height: fit-content;
  width: 100%;
  margin-bottom: -3px
}

.restaurant-image {
  width: 100%;
}

.gradient {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("cuts/cellGradientBackground@2x.png");
}

.restaurant-name-and-category {
  position: absolute;
  bottom: 6px;
  left: 12px;
}

.restaurant-name, .restaurant-category {
  font-family: "Avenir Next";
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

.restaurant-category {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 6px;
}

/* detail page */
.map {
  height: 180px;
  background-color: red;
  padding-top: 60px;
}

.restaurant-name-header {
  height: 60px;
  background-color: #34B379;
}

/* footer */
.footer-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0px;
}

.footer {
  height: 50px;
  background-color: #2A2A2A;
}

.icons-and-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 7px;
}

.lunch-icon, .internets-icon, .lunch-icon-2, .internets-icon-2 {
  width: 25px;
  height: 27px;
  background-image: url("cuts/tab_lunch@2x.png");
  background-size: 25px;
  background-repeat: no-repeat;
  margin: auto;
}

.internets-icon, .internets-icon-2 {
  width: 20px;
  height: 25px;
  background-image: url("cuts/tab_internets@2x.png");
  background-size: 20px;
}

.lunch-icon-2, .internets-icon-2 {
  opacity: 0.5;
}

.lunch-text, .internets-text {
  font-family: "Avenir Next";
  font-size: 10px;
  color: #FFFFFF;
  text-align: center;
}